<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/dashboard/css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/dashboard/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">NPM Hotel</div>
            <div class="list-group list-group-flush">
                <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="/room" class="list-group-item list-group-item-action bg-light">Room</a>
                <a href="/banquet" class="list-group-item list-group-item-action bg-light">Banquet</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
                <a href="/dashboardprofile" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="/hmessage" class="list-group-item list-group-item-action bg-light">Message</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
        
          <h1>Room Info</h1>

          <div class="container mt-5">
     <div class="card-group vgr-cards">
    <%for(var r of room){%>
      <div class="card">
          <div class="card-body">
              <h4 class="card-title"><%= r.rname%></h4>
              <p class="card-text"><%=r.rdescription%></p>
              <p class="card-text"><%=r.rprice%></p>
              <a href="#" class="btn btn-outline-primary">Primary</a>
          </div>
      </div>
      <%}%>
 </div>
        </div>


        <div id="page-content-wrapper">
          <h1>Banquete Info</h1>

          <div class="container mt-5">
     <div class="card-group vgr-cards">
         <%for(var b of banquet){%>
           <div class="card">
               <div class="card-body">
                   <h4 class="card-title"><%= b.bname%></h4>
                   <p class="card-text"><%= b.bdescription%></p>
                   <a href="#" class="btn btn-outline-primary">Primary</a>
               </div>
           </div>

           <%}%>
     </div>
 </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="assets/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="assets/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
