<html>

<head>
    <title>My Profile</title>

    <link href="assets/my%20profile/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="assets/my%20profile/css/bootstrap.min.js"></script>

    <script src="assets/my%20profile/css/jquery.min.js"></script>

</head>

<body>

    <div class="container" style="padding-top: 60px;">
        <form action="" method="post" enctype="multipart/form-data">
            <h1 class="page-header">Edit Profile</h1>
            <div class="row">
                <!-- left column -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="text-center">

                        <img src="<%= user[0].dp %>" name="dp" class="avatar img-circle img-thumbnail" alt="avatar">
                        <h6>Upload a different photo...</h6>

                        <input type="file" name="dp" class="text-center center-block well well-sm">
                    </div>
                </div>
                <!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <!--
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div>
-->
                    <h3>Personal info</h3>

                    <!--
                    <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="Estela" type="text">
                        </div>
                    </div>
-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full Name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="name" value="<%= user[0].name%>" type="text">
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Company:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="http://tuconsultoraseo.com" type="text">
                        </div>
                    </div>
-->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="email" value="<%= user[0].email %>" type="text" readonly>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Time Zone:</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select id="user_time_zone" class="form-control">
                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option value="Alaska">(GMT-09:00) Alaska</option>
                                    <option value="Pacific Time (US & Canada)">(GMT-08:00) Pacific Time (US & Canada)</option>
                                    <option value="Arizona">(GMT-07:00) Arizona</option>
                                    <option value="Mountain Time (US & Canada)">(GMT-07:00) Mountain Time (US & Canada)</option>
                                    <option value="Central Time (US & Canada)" selected="selected">(GMT-06:00) Central Time (US & Canada)</option>
                                    <option value="Eastern Time (US & Canada)">(GMT-05:00) Eastern Time (US & Canada)</option>
                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                </select>
                            </div>
                        </div>
                    </div>
-->
                    <!--
                    <div class="form-group">
                        <label class="col-md-3 control-label">Username:</label>
                        <div class="col-md-8">
                            <input class="form-control" value="janeuser" type="text">
                        </div>
                    </div>
-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="password" value="<%= user[0].password %>" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Type:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="type" value="<%= user[0].type %>" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Status:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="status" value="<%= user[0].status %>" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn btn-primary" value="Save Changes" type="submit">
                            <a >
                              <a href="/logout" class="btn btn-danger">Log out</a>


                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>

</html>
